
<head>
	<link href="/assets/web/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/assets/web/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/assets/web/css/font-awesome.css" rel="stylesheet">
</head>
<div class="agile-footer w3ls-section">
	<div class="container">
		<div class="col-md-7 list-footer">
		  <ul class="footer-nav">
				<li><a routerLink="">Home</a></li>
						<li><a routerLink="/register">Register</a></li>    
						<li><a routerLink="/service">Services</a></li>    
						<li><a routerLink="/check">Check</a></li>    
						
						<li><a routerLink="/contact">Contact Us</a></li>
		  </ul>
		
		</div>
		
		<div class="clearfix"></div>
     </div>
</div>	 
<div class="w3_agile-copyright text-center">
		<p>©Indian Net Banking All rights reserved | Design by <a href="//w3layouts.com/">Banking4A Team</a></p>
	</div>
<!--//footer-->	
