<app-nav></app-nav>
<!-- <div class ="row">


<div class="w3-card-4">

<header class="w3-container w3-blue">
<h1><a routerLink="/login"><b>chqeue</b></a></h1>
</header>

<div class="w3-container">
<p>Cheque Service is to allow user to deposit amount in own account by filling a simple online form at their end.<br>
There are alot more to explore</p>
</div>

</div>

<div class="w3-card-4">

<header class="w3-container w3-blue">
<h1><a routerLink="/login">DTH</a></h1>
</header>

<div class="w3-container">
<p>Cheque Service is to allow user to deposit amount in own account by filling a simple online form at their end.<br>
There are alot more to explore</p>
</div>

</div>

<div class="w3-card-4">

<header class="w3-container w3-blue">
<h1><a routerLink="/login">Electricity</a></h1>
</header>

<div class="w3-container">
<p>Cheque Service is to allow user to deposit amount in own account by filling a simple online form at their end.<br>
There are alot more to explore</p>
</div></div>

<div class="w3-card-4">

<header class="w3-container w3-blue">
<h1><a routerLink="/login">Money Transfer</a></h1>
</header>

<div class="w3-container">
<p>Cheque Service is to allow user to deposit amount in own account by filling a simple online form at their end.<br>
There are alot more to explore</p>
</div></div>

<div class="w3-card-4">

<header class="w3-container w3-blue">
<h1><a routerLink="/login">Overdraft</a></h1>
</header>

<div class="w3-container">
<p>Cheque Service is to allow user to deposit amount in own account by filling a simple online form at their end.<br>
There are alot more to explore</p>
</div></div>

<div class="w3-card-4">

<header class="w3-container w3-blue">
<h1><a routerLink="/login">Phone Bills</a></h1>
</header>

<div class="w3-container">
<p>Cheque Service is to allow user to deposit amount in own account by filling a simple online form at their end.<br>
There are alot more to explore</p>
</div></div>

<li><a routerLink="/viewservices">chqeue</a></li> -->

<!-- </div>


<body>

  <div class="w3-container">


    <div class="w3-card-4" style="width:50%">
      <img src="img_snowtops.jpg" alt="Alps" style="width:100%">
      <div class="w3-container w3-center">
        <p>The Italian / Austrian Alps</p>
      </div>
    </div>
  </div> --><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="w3-container">

      <div class="w3-card-4" style="width: 200px;height: 200px;position: absolute;top: 537px;right: 760px;">
        <img src="assets/web/images/s21.jpg"  alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <p>The Italian / Austrian Alpsasudusaus
          4ST
          </p>
        </div>
      </div>
    </div>
    <br>


        <div class="w3-card-4" style="width: 200px;height: 200px;position: absolute;top: 230px;right: 546px;">
            <div class="w3-container">
          <img src="assets/web/images/dth.jpg"  alt="Alps" style="width:100%">
          <div class="w3-container w3-center">
            <p>The Italian / Austrian Alps</p>
          </div>
        </div>
      </div>
      <br>
      <div class="w3-container">


          <div class="w3-card-4" style="width: 200px;height: 200px;position: absolute;top: 230px;right: 140px;">
            <img src="assets/web/images/pay.jpg"  alt="Alps" style="width:100%">
            <div class="w3-container w3-center">
              <p>The Italian / Austrian Alps</p>
            </div>
          </div>
        </div>
        <br>
        <div class="w3-container">
            <div class="w3-card-4" style="width: 200px;height: 200px;position: absolute;top: 230px;right:966px;">
              <img src="assets/web/images/over.jpg"  alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>The Italian / Austrian Alps</p>
              </div>
            </div>
          </div>
          <br>
          <div class="w3-container">


              <div class="w3-card-4" style="width: 200px;height: 200px;position: absolute;top: 537px;right: 347px;">
                <img src="assets/web/images/phone.png"  alt="Alps" style="width:100%">
                <div class="w3-container w3-center">
                  <p>The Italian / Austrian Alps</p>
                </div>
              </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br>

<app-footer></app-footer>