<app-nav></app-nav>
<div class ="row">


<div class="w3-card-4">

<header class="w3-container w3-blue">
<h1><a routerLink="/login"><b>chqeue</b></a></h1>
</header>

<div class="w3-container">
<p>Cheque Service is to allow user to deposit amount in own account by filling a simple online form at their end.<br>
There are alot more to explore</p>
</div>

</div>

<div class="w3-card-4">

<header class="w3-container w3-blue">
<h1><a routerLink="/login">DTH</a></h1>
</header>

<div class="w3-container">
<p>Cheque Service is to allow user to deposit amount in own account by filling a simple online form at their end.<br>
There are alot more to explore</p>
</div>

</div>

<div class="w3-card-4">

<header class="w3-container w3-blue">
<h1><a routerLink="/login">Electricity</a></h1>
</header>

<div class="w3-container">
<p>Cheque Service is to allow user to deposit amount in own account by filling a simple online form at their end.<br>
There are alot more to explore</p>
</div></div>

<div class="w3-card-4">

<header class="w3-container w3-blue">
<h1><a routerLink="/login">Money Transfer</a></h1>
</header>

<div class="w3-container">
<p>Cheque Service is to allow user to deposit amount in own account by filling a simple online form at their end.<br>
There are alot more to explore</p>
</div></div>

<div class="w3-card-4">

<header class="w3-container w3-blue">
<h1><a routerLink="/login">Overdraft</a></h1>
</header>

<div class="w3-container">
<p>Cheque Service is to allow user to deposit amount in own account by filling a simple online form at their end.<br>
There are alot more to explore</p>
</div></div>

<div class="w3-card-4">

<header class="w3-container w3-blue">
<h1><a routerLink="/login">Phone Bills</a></h1>
</header>

<div class="w3-container">
<p>Cheque Service is to allow user to deposit amount in own account by filling a simple online form at their end.<br>
There are alot more to explore</p>
</div></div>
<!--
<li><a routerLink="/viewservices">chqeue</a></li> -->

</div>
<app-footer></app-footer>